{% extends 'main.html' %}

{% block head %}
        <title>Список пользователей</title>
{% endblock %}
{% block body %}
        <form class="for_users2" method="POST">
                        <img src="{{ url_for('static', filename = 'photos/'+user.photo) }}"/>
                        <input type="text" value="{{user.name}}" name="names" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
                        <input type="text" value="{{user.surname}}" name="surname" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
                        <input type="email" value="{{user.email}}" name="mail" class="edit_text" readonly="True">
                        <input type="text" value="{{user.work}}" name="work" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
                        <input type="text" value="{{user.post}}" name="post" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
            <div class="input_age">
                        <label>Возраст:</label>
                        <input type="number" value="{{user.age}}" name="age" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
            </div>
            {% if user.email|string() == id_sess or is_adm == True %}<button type="submit" class="btn btn-primary">Сохранить</button>{% endif %}
        </form>

{% endblock %}