{% extends 'main.html' %}

{% block head %}
        <title>Список пользователей</title>

{% endblock %}
{% block body %}
        <div class="table-box2">
        <form class="for_users2" method="POST">
                        <img src="{{ url_for('static', filename = 'photos/'+user.photo) }}"/>
                        <input type="text" value="{{user.name}}" name="names" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
                        <input type="text" value="{{user.surname}}" name="surname" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
                        <input type="email" value="{{user.email}}" name="mail" class="edit_text" readonly="True">
                        <input type="text" value="{{user.work}}" name="work" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
                        <input type="text" value="{{user.post}}" name="post" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
            <div class="input_age">
                        <label>Возраст:</label>
                        <input type="number" value="{{user.age}}" name="age" class="edit_text" {% if user.email|string() != id_sess and is_adm == False %}readonly="True"{% endif %}>
            </div>
            <div>

                {% if user.email|string() == id_sess or is_adm == True %}<button type="submit" class="btn btn-primary">Сохранить</button>{% endif %}
                {% if user.email|string() != id_sess %}{% if is_flw %}<button type="button" class="btn_unfollow btn btn-primary" onclick="location.href='../follow/?email={{user.email}}&action=unsubscribe';">Отписаться</button>
                {% else %}<button type="button" class="btn_follow btn btn-primary" onclick="location.href='../follow/?email={{user.email}}&action=subscribe';">Подписаться</button>{% endif %}{% endif %}
            </div>
        </form>
            <div>
                <h2>Новости пользователя: </h2>
                {% for news in news_of_user %}
                    <p><small class="text-muted">{{news.date_created.strftime('%B %d %Y - %H:%M:%S')}} </small>{% if news.category != "-" and news.category != '' %}<b>{{news.category}}.</b>{% endif %} {{news.maintext}} {% if user.email|string() == id_sess or is_adm %}<a href="../editnews/?news={{news.id}}"><img src="{{ url_for('static', filename = 'img/edit.png') }}"/></a>{% endif %}</p>
                {% endfor %}
            </div>

        </div>

{% endblock %}