{% extends 'main.html' %}

{% block head %}
        <title>Новости</title>
{% endblock %}

{% block body %}

            <div class="news_box">
                <textarea name="new_news" id="new_news" rows="12" cols="80" placeholder="Что у вас нового?" class="input_news"></textarea>
                <input type="text" list="categories" name="category" id="new_news_input" autocomplete="on" placeholder="Category"/>
                <datalist id="categories" name="categories">
                {% for category in cati %}
                <option> {{ category }} </option>
                {% endfor %}
                </datalist>
                {% if user.role == 'Админ' %}<button type="submit" class="btn btn-primary news_btn">Добавить категорию</button>{% endif %}
            </div>
            <button type="submit" class="btn btn-primary news_btn">Сохранить</button>



    {% endblock %}
