{% extends 'main.html' %}

{% block head %}
        <title>Список пользователей</title>
{% endblock %}

{% block body %}
{% for msg in get_flashed_messages() %}
                <div class="flash">{{msg}}</div>
            {% endfor %}
            <div class="table-box">
                {% for user in users %}
                      <div class="for_users">
                        <img src="{{ url_for('static', filename = 'photos/'+user.photo) }}"/>
                        <a onclick="location.href='../account/?user={{user.email}}';"><h3>{{user.name}} {{user.surname}}{% if user.email|string() == id_sess %}(Вы){% endif %}</h3></a>
                        <p>{{user.email}}</p>
                        <p>Возраст: {{user.age}}</p>
                      </div>
              {% endfor %}
              </div>

    <div class="pagination">
        <a href="/users?page=0">&laquo;</a>
        {% for page in range(pagecount) %}
            <a href="/users?page={{ page }}">{{ page + 1 }}</a>
        {% endfor %}
        <a href="/users?page={{pagecount - 1}}">&raquo;</a>
    </div>

    {% endblock %}
